  /* Import Google font - Poppins */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
  body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: antiquewhite;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  .home-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    }
    
    .home-container h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    }
    
    /* .home-container p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 2rem;
    } */
  .education-container {
    padding: 100px 10px;
    text-align: center;
    }
    
    .education-row {
    border: 2px solid black;
    margin: 0px 0px 0px 20vw;
    width: 58vw;
    }
    
    .education-col {
    margin: 42px;
    }
    
    .education-col h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    }
    
    .education-col p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    }
    
    .education-col ul {
    list-style: none;
    padding: 0;
    margin: 0;
    }
    .btn {
      display: inline-block;
      background-color: #333;
      color: #f9f6f6;
      font-size: 1.2rem;
      padding: 1rem 2rem;
      border-radius: 5px;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      }
      .btn:hover {
        color: #f8f8f8;
        border: 5px solid #000000;
        }
        .pattern-container {
          margin: 20px;
          text-align: center;
        }

        .grid-container {
          text-align: center;
        }
        #pattern-grid{
          display:grid;
          grid-template-columns:auto auto auto;
          justify-content: center
        }
        .grid-cell {
          width: 75px;
          height: 75px;
          border: 3px solid #000000;
          display: inline-block;
          margin: 5px;
          cursor: pointer;
        }
        
        .grid-cell.selected {
          background-color: rgb(0, 0, 0);
        }
        
        #pattern-strength,
        #password-strength {
          font-weight: bold;
          margin: 10px;
        }



        hr{
          height: 2px;
          background-color: #000000;
      }
  .tol {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    background: antiquewhite;
  }
  .wrapper {
    width: 450px;
    overflow: hidden;
    padding: 28px;
    border-radius: 8px;
    background: rgb(245, 233, 218);
    box-shadow: 0 10px 25px rgba(0,0,0,0.06);
  }
  .wrapper .pass-field {
    height: 65px;
    width: 100%;
    position: relative;
  }
  .pass-field input {
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 17px;
    font-size: 1.3rem;
    border-radius: 5px;
    border: 1px solid #999;
  }
  .pass-field input:focus {
    padding: 0 16px;
    border: 2px solid antiquewhite;
  }
  .pass-field i {
    right: 18px;
    top: 50%;
    font-size: 1.2rem;
    color: #999;
    cursor: pointer;
    position: absolute;
    transform: translateY(-50%);
  }
  .wrapper .content {
    margin: 70px 0 10px;
  }
  .content p {
    color: #333;
    font-size: 1.3rem;
  }
  .content .requirement-list {
    margin-top: 20px;
  }
  .requirement-list li {
    font-size: 1.3rem;
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  .requirement-list li i {
    width: 20px;
    color: #aaa;
    font-size: 0.6rem;
  }
  .requirement-list li.valid i {
    font-size: 1.2rem;
    color: #4285F4;
  }
  .requirement-list li span {
    margin-left: 12px;
    color: #333;
  }
  .requirement-list li.valid span {
    color: #999;
  }

  @media screen and (max-width: 500px) {
    body, .wrapper {
      padding: 15px;
    }
    .wrapper .pass-field {
      height: 55px;
    }
    .pass-field input, .content p  {
      font-size: 1.15rem;
    }
    .pass-field i, .requirement-list li {
      font-size: 1.1rem;
    }
    .requirement-list li span {
      margin-left: 7px;
    }
  }
  .contact-container {
    padding: 100px 0;
    }
    form {
      display: flex;
      flex-direction: column;
      max-width: 600px;
      margin: 0 auto;
      }
      
      label {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
      }
      
      input,textarea {
      padding: 0.5rem;
      font-size: 1.2rem;
      margin-bottom: 1rem;
      border-radius: 5px;
      border: 1px solid #ffffff;
      }
      input:focus,textarea:focus {
      outline: none;
      border:1px solid #333;
  }
  /* -------------------------------------------------------------------------------------------------------- */
  #timeToCrack {
    /* display: none; Initially hide the time */
    margin-top: 10px;
    color: #555;
  }
  #passwordInput {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
  }
